{# Modal compartilhado para explicações dos indicadores de análise. Requer _insights_js.html. #}
<div class="modal fade no-print" id="modalIndicador" tabindex="-1"
     aria-labelledby="modalIndicadorLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-white" style="background:#0d2b5e">
        <h5 class="modal-title" id="modalIndicadorLabel"></h5>
        <button type="button" class="btn-close btn-close-white"
                data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body fs-6" id="modalIndicadorBody"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm"
                data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
